SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_PAYMENTS_CLIENT_TOKEN=
STRIPE_SANDBOX_API_KEY=
STRIPE_LIVE_API_KEY=
PAYMENTS_SANDBOX_WEBHOOK_SECRET=
PAYMENTS_LIVE_WEBHOOK_SECRET=
LOVABLE_API_KEY=
